.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 22px;
    line-height: 20px; /* Vertically center the text there */
    background-color: #343a40;
}